body{
    background-color: black;
    color: white;
}

.profile-image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.Begining-content{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icons{
    margin: 30px o;
}
.social-icons .twitter{
    padding: 0 20px;
}

.about-gen{
    display: flex;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
}
.about-left, .about-right{
    width: 50%;
}

.chat-now{
    display: flex;
    align-items: center;
    gap: 1%;
}
.text-center{
    text-align: center;
}
.margin{
    margin: 8% 0;
}

.one{
    font-size: 50px;
    font-weight: bold;
}
.below-one{
    font-size: 50px;
    font-weight: bold;
}

.text-center .image-row1, .image-row2, .image-row3{
    width: 200px;
    height: 200px;
    border-radius: 25%
}
.image-row1{
    display: flex;
}

.image-row2{
    display: flex;
}

.image-row3{
    display: flex;
}

.learn-button{
    width: 250px;
    height: 70px;
    border: solid white;
    background: none;
    color: white;
    font-size: large;
}

.bring{
    display: flex;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
    margin: 70px 0;
}

.bring-left, .bring-right{
    width: 50%;
}

.we{
    font-size: 50px;
    font-weight: bold
}

.we-inform .bottom-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.bottom-items{
    padding: 0 190px;
}

.bottom-items2{
    padding: 0 190px;
}

.sline{
    top: 20px;
    border: none;
    height: 12px;
    margin: 40px;
    background: white;   
}
footer{
    text-align: center;
    background-color: rgb(54, 52, 52);
    color: white;
}
.footer{
    padding: 30px;
}